<h1 class="display-4">
    Hola esta es un prueba para las areas 
</h1>
<p class="md-4">estoy es una prueba de areas</p>
<a href="area/list" class="btn btn-light">ver area</a>
<a href="area/add" class="btn btn-light">agregar area</a>