<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/area/list">areas</a></li>
        <li class="breadcrumb-item active">Add</li>
    </ol>
    <h1 class="display-4">Add area</h1>
    <form method="post" action="/area/create">
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <input type="submit" value="Crear" class="btn btn-primary">
    </form>