<h1 class="display-4">areas</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% area.forEach(function(area){ %>
            <tr>
                <td><%= area.id %></td>
                <td><%= area.name %></td>
                <td>
                    <a href="/area/edit/<%= area.id %>" class="btn btn-primary">Edit</a>
                    <form class="d-inline" action="/area/delete/<%= area.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>